body{background-image:URL("https://images.unsplash.com/photo-1518655048521-f130df041f66?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8cG9ydGZvbGlvJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D&fm=jpg&q=60&w=3000") ;
    background-SIZE:COVER;
    background-color:white ;
text-align: center;

}


a{
    color:rgb(246, 246, 76);
}
pre{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
IMG{
    border-radius: 50%;
}
H3{
    text-align: center;
}
BUTTON{
    background-color: black;
    COLOR:ORANGE;
}